*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

h1{
    text-align: center;
    color: black;
    padding-top: 20px;
    text-decoration: underline;
}

.card{
    width: 250px;
    height: 250px;
    background-color: rgb(223, 215, 215);
    margin: auto;
    border: none;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 2px rgb(100, 100, 100);
}

.box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
}